<!DOCTYPE html>
  <head>
  	<meta charset="UTF-8">
  	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" href="../static/css/styles.css" type="text/css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


  </script>


  </head>
  <body>
		  <nav class="navbar navbar-default"> <!-- Beginnging of Navbar -->
		  	<div class="container">
		  		<ul class="nav nav-pills">
				  <li role="presentation" class="active"><a href="#">Dashboard</a></li>
				  <li role="presentation"><a href="/users">Users</a></li>
				  <li role="presentation" class="dropdown pull-right">
				    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				      Account <span class="caret"></span>
				    </a>
				    <ul class="dropdown-menu">
				      <li><a href="/profile/{{session['id']}}">Profile</a></li>
				      <hr>
				      <li><a href="/logout">Log Out</a></li>
				    </ul>
				  </li>
				</ul>
		  	</div>
		  </nav> <!-- End of Navbar -->

		  <div class="page-header">
			  <div class = "container">
			  	<h1>Hello ! Welcome Back!</h1>

			  </div>

		  </div>


		<div class="container"> <!-- Beginning of container -->
			<div class="row">
				<div id= "message_background" class="col-md-8">
					{% for message in append_message %}
					<div class="row">
						<div id= "message_board" class="col-md-6 col-md-offset-3">

						 	<div class="row white_color">
						      <div class="col-xs-8 col-sm-4">
						        <img src="http://pokeapi.co/media/img/1.png" alt="Pokemon" class="img-circle">
						        <p>{{message['first_name']}} {{message['last_name']}}</p>
						      </div>
						      <div class="col-xs-4 col-sm-8">
						        <h2>{{message['Headline']}}</h2>
						        <p>{{message['Description']}}</p>
						      </div>
						    </div>
						</div>

					</div>
					{% endfor %}
				</div>

				<div class="col-md-4">
					<div class="row">
						<div  id = "side_bar" class="col-md-8 col-md-offset-3">
							<h1>Hello!</h1>
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Post an Event</button>



							<!-- Beginning Modal -->
							<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="exampleModalLabel">New Event</h4>
							      </div>
							      <div class="modal-body">
							        <form action = "/post_message" method= "post">
							          <div class="form-group">
							            <label for="recipient-name" class="control-label">Posted by:</label>
							            <input type="text" name = "name" class="form-control" id="recipient-name">
							          </div>
							          <div class="form-group">
							            <label for="location" class="control-label">Location:</label>
							            <input type="text" name = "location" class="form-control" id="location">
							          </div>
							          <div class="form-group">
							            <label for="date" class="control-label">Date:</label>
							            <input type="date" name = "date" class="form-control" id="date">
							          </div>
							          <div class="form-group">
							            <label for="time" class="control-label">Date:</label>
							            <input type="time" name = "time" class="form-control" id="time">
							          </div>
							          <div class="form-group">
							            <label for="headline" class="control-label">Head Line:</label>
							            <input type="text" name = "headline" class="form-control" id="headline">
							          </div>
							          <div class="form-group">
							            <label for="message-text" class="control-label">Message:</label>
							            <textarea class="form-control" name = "message" id="message-text"></textarea>
							          </div>
							          <div class="form-group">
								          <input type="submit" value="submit">
							          </div>
							        </form>
							      </div>
							    </div>
							  </div>
							</div>
							<!-- End of Modal -->

						</div>
					</div>
				</div>
			</div>
		</div> <!-- End of Container -->





	  <!-- Jquery CDN -->

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>


	  <!-- Latest compiled and minified JavaScript -->

	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
