<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Description</title>
    <script src="http://maps.googleapis.com/maps/api/js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
      var myCenter=new google.maps.LatLng(37.55328765,-122.16522217);
      var marker;

      function initialize()
      {
      var mapProp = {
          center:myCenter,
          zoom:12,
          mapTypeId:google.maps.MapTypeId.ROADMAP
          };

      var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

      var marker=new google.maps.Marker({
        position:myCenter,
        icon:'http://www.thepoochpatio.com/images/dog-paw-print-clip-art-free-download-aiqepegqt.png',
        animation:google.maps.Animation.BOUNCE
        });

    marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
    </script>

  </head>
  <body>
    <div class="container">
    <!-- BEGINNING OF CONTAINER -->

      <!-- NAV BAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <h4>Web Title</h4>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/dashboard/"><u>Home</u></a></li>
                  <li><a href="/users/edit/"><u>Users</u></a></li>
                  <li><a href="/users/edit/"><u>My Events</u></a></li>
                </ul>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Account
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
              <li><p>Welcome [USER]</p></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- END OF NAV BAR -->

      <!-- HEADER -->

      {{event}}
      <div class="row">
        <div class="col-sm-6">

          <h3>[EVENT TITLE]</h3>
        </div>
      </div>
      <div id="event_name" class="row">
        <div class="col-sm-4">
          <h4>Host:</h4>
        </div>
        <div class="col-sm-8">
          <h4>{{event[0]['host_id']}}</h4>
        </div>
      </div>
      <div id="event_name" class="row">
        <div class="col-sm-4">
          <p>Date:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['date']}}</p>
        </div>
      </div>
      <div id="event_location" class="row">
        <div class="col-sm-4">
          <p>Location:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['location']}}</p>
        </div>
        <div id="googleMap" style="width:500px;height:380px;"></div>
      </div>
      <div id="event_description" class="row">
        <div class="col-sm-4">
          <p>Description:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['description']}}</p>
        </div>
      </div>
      <div id="group_size" class="row">
        <div class="col-sm-4">
          <p>group_size:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['max']}}</p>
        </div>
      </div>
      <div id="attending" class="row">
        <div class="col-sm-4">
          <p>Attending:</p>
        </div>
        <div class="col-sm-8"><br>
          {% for attendee in attending: %}
          <p>{{attendee['first_name']}} {{attendee['last_name']}} {{attendee['email']}}, </p>
          {% endfor %}
        </div>
      </div>
      <!-- END HEADER -->   
      <form action="/event/attend/{{event[0]['id']}}" method="POST">
        <input type="submit" value="Attend"></input>
      </form>
      {% with messages = get_flashed_messages(category_filter=['attend_errors']) %}
          {% if messages %}
              {% for message in messages %}
                  <p style="color:red;">{{message}}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
      <form action="/event/stop_attend/{{event[0]['id']}}" method="POST">
        <input type="submit" value="Stop Attending"></input>
      </form>



    </div>
  </body>
</html>
