<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Description</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
        var key = 'AIzaSyDrq2E3BQ4VJwKEWW5QOz1Ceg_z4bQ_p9M'
        var location ="https://maps.googleapis.com/maps/api/js?key=" + '{{event[0][location]}}' + (key).toString
      });
    </script>

  </head>
  <body>
    <div class="container">
    <!-- BEGINNING OF CONTAINER -->

      <!-- NAV BAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <h4>Web Title</h4>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/dashboard"><u>Home</u></a></li>
                  <li><a href="/users"><u>Users</u></a></li>
                  <li><a href="" data-toggle="modal" data-target="#add_event"><u>Add Event</u></a></li>

 								 <!-- ADD EVENT MODAL -->
 								 <div class="modal fade" id="add_event" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
 	 							  <div class="modal-dialog" role="document">
 	 							    <div class="modal-content">
 	 							      <div class="modal-header">
 	 							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
 	 							        <h4 class="modal-title" id="exampleModalLabel">New Event</h4>
 	 							      </div>
 	 							      <div class="modal-body">
 	 							        <form action = "/post_message" method= "post">
 	 							          <div class="form-group">
 	 							            <label for="recipient-name" class="control-label">Posted by:</label>
 	 							            <input type="text" name = "name" class="form-control" id="recipient-name">
 	 							          </div>
 	 							          <div class="form-group">
 	 							            <label for="location" class="control-label">Location:</label>
 	 							            <input type="text" name = "location" class="form-control" id="location">
 	 							          </div>
 	 							          <div class="form-group">
 	 							            <label for="date" class="control-label">Date:</label>
 	 							            <input type="date" name = "date" class="form-control" id="date">
 	 							          </div>
 	 							          <div class="row">
 	 								          <div class="form-group col-xs-6 col-sm-4">
 	 								            <label for="time" class="control-label">Start Time:</label>
 	 								            <input type="time" name = "time" class="form-control" id="time">
 	 								          </div>
 	 								          <div class="form-group col-xs-6 col-sm-4">
 	 									          <label for="time" class="control-label">End Time:</label>
 	 									          <input type="time" name = "time" class="form-control" id="time">
 	 								          </div>
 	 							          </div>
 	 							          <div class="form-group">
 	 							            <label for="headline" class="control-label">Head Line:</label>
 	 							            <input type="text" name = "headline" class="form-control" id="headline">
 	 							          </div>
 	 							          <div class="form-group">
 	 							            <label for="message-text" class="control-label">Message:</label>
 	 							            <textarea class="form-control" name = "message" id="message-text"></textarea>
 	 							          </div>
 	 							          <div class="form-group">
 	 								          <input type="submit" value="submit">
 	 							          </div>
 	 							        </form>
 	 							      </div>
 	 							    </div>
 	 							  </div>
 	 							</div>
 								 <!-- END ADD EVENT MODAL -->
                </ul>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Account
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/profile/{{session['id']}}">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
              <li><p>Welcome {{session['name']}}</p></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- END OF NAV BAR -->

      <!-- HEADER -->

      <div class="row">
        <div class="col-sm-6">

          <h3>[EVENT TITLE]</h3>
        </div>
      </div>
      <div id="event_name" class="row">
        <div class="col-sm-4">
          <h4>Host:</h4>
        </div>
        <div class="col-sm-8">
          <h4>{{event[0]['host_id']}}</h4>
        </div>
      </div>
      <div id="event_name" class="row">
        <div class="col-sm-4">
          <p>Date:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['date']}}</p>
        </div>
      </div>
      <div id="event_location" class="row">
        <div class="col-sm-4">
          <p>Location:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['location']}}</p>
        </div>


        <!-- START GOOGLE MAPS -->
        <div>
          <input id="map_input" class="controls" type="text" placeholder="Search Location" />
          <div id="map" style="width:500px;height:380px;"></div>
          <script>
                function initMap() {
                  var mapDiv = document.getElementById('map');
                  var map = new google.maps.Map(mapDiv, {
                    center: {lat: 37.8272, lng: -122.2913},
                    zoom: 10
                  });
                  var geocoder = new google.maps.Geocoder();
                  geocodeAddress(geocoder,map);
                }
          </script>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCln8jBJ-Mwall5Zyt06hA5079cS_0Cc3w&libraries=places&callback=initMap" async defer></script>
        </div>
        <!-- END GOOGLE MAPS -->


      </div>
      <div id="event_description" class="row">
        <div class="col-sm-4">
          <p>Description:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['description']}}</p>
        </div>
      </div>
      <div id="group_size" class="row">
        <div class="col-sm-4">
          <p>group_size:</p>
        </div>
        <div class="col-sm-8">
          <p>{{event[0]['max']}}</p>
        </div>
      </div>
      <div id="attending" class="row">
        <div class="col-sm-4">
          <p>Attending:</p>
        </div>
        <div class="col-sm-8"><br>
          {% for attendee in attending: %}
          <p>{{attendee['first_name']}} {{attendee['last_name']}} {{attendee['email']}}, </p>
          {% endfor %}
        </div>
      </div>
      <!-- END HEADER -->
      <form action="/event/attend/{{event[0]['id']}}" method="POST">
        <input type="submit" value="Attend"></input>
      </form>
      {% with messages = get_flashed_messages(category_filter=['attend_errors']) %}
          {% if messages %}
              {% for message in messages %}
                  <p style="color:red;">{{message}}</p>
              {% endfor %}
          {% endif %}
      {% endwith %}
      <form action="/event/stop_attend/{{event[0]['id']}}" method="POST">
        <input type="submit" value="Stop Attending"></input>
      </form>



    </div>
  </body>
</html>
