<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Event Description</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </head>
  <body>
    <div class="container">
    <!-- BEGINNING OF CONTAINER -->

      <!-- NAV BAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <h4>Web Title</h4>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/dashboard/"><u>Home</u></a></li>
                  <li><a href="/users/edit/"><u>Users</u></a></li>
                </ul>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Account
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
              <li><p>Welcome [USER]</p></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- END OF NAV BAR -->

      <!-- My Events -->
      {% if my_events %}
        {% for event in my_events %}
          <div class="row">
            <div class="col-sm-6">
              <h4>[EVENT TITLE]</h4>
            </div>
          </div>
          <div id="event_date" class="row">
            <div class="col-sm-4">
              <p>Date:</p>
            </div>
            <div class="col-sm-8">
              <p>[date of Event]</p>
            </div>
          </div>
          <div id="event_location" class="row">
            <div class="col-sm-4">
              <p>Location:</p>
            </div>
            <div class="col-sm-8">
              <p>[Location of Event]</>
            </div>
          </div>
          <div id="event_description" class="row">
            <div class="col-sm-4">
              <p>Description:</p>
            </div>
            <div class="col-sm-8">
              <p>[Description of Event]</>
            </div>
          </div>
          <div id="group_size" class="row">
            <div class="col-sm-4">
              <p>group_size:</p>
            </div>
            <div class="col-sm-8">
              <p>[group_size]</>
            </div>
            <div class="col-sm-8">
              <form action="" method="" class="text-right">
                <input type="submit" class="btn btn-warning" name="remove_event" value="Remove Event" />
              </form>
            </div>
          </div>
        {% endfor %}
      {% endif %}

      <!-- END My Events -->



    </div>
  </body>
</html>
