<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Users Tables</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


  </head>
  <body>
    <div class="container">
    <!-- BEGINNING OF CONTAINER -->

      <!-- NAV BAR -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <h4>Web Title</h4>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/dashboard"><u>Home</u></a></li>
                </ul>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" id="account-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Account
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/profile/{{session['id']}}">Profile</a></li>
                    <li><a href="#">Edit Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </div>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" style="margin-right:10px">
              <li><p>Welcome {{user.first_name}}</p></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
      <!-- END OF NAV BAR -->

      <!-- FRIENDS TABLE -->
      <!-- START TABLE -->
      <div id="friends_table">
        <h3>Friends</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Dog's Name</th>
              <th>Dog Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for friend in friends %}
            <tr>
              <td>{{friend['first_name']}} {{friend['last_name']}}</td>
              <td>{{friend['email']}}</td>
              <td></td>
              <td></td>
              <td>
                <ul class="list-inline">
                  <li><a href="/profile/{{friend.id}}">Show</a></li>
                  <li><a href="/remove_friend/{{friend.id}}">Remove Friend</a></li>
                </ul>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- END FRIENDS TABLE -->

      <!-- START OTHER USERS -->
      <div id="other_users">
        <h3>Other Users</h3>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Dog's Name</th>
              <th>Dog Type</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for user in other_users %}
            <tr>
              <td>{{user['first_name']}} {{user['last_name']}}</td>
              <td>{{user['email']}}</td>
              <td></td>
              <td></td>
              <td>
                <ul class="list-inline">
                  <li><a href="/profile/{{user['id']}}">Show</a></li>
                  <li><a href="/add_friend/{{user['id']}}">Add Friend</a></li>
                </ul>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- END OTHER USERS -->

    </div>
  </body>
</html>
